:root{
    --color-principal: #516343;
    --color-letras-menu: #FFF;
    --color-principal-oscuro: #35412c;
}

body{
    background-color: #AAC0A5;
}

b{
    background-color: var(--color-principal);
}

*{
    margin: 0
}

/** Navbar Sticky **/

/* Style the navbar */
.navbar-css{
    overflow: hidden;
    background-color: #4D5F3E;
    opacity: 75%;
}

.imagen-nav{
    height: 100px;
}
/*
.navbar-css i{
    display: block;
    color:  #c9c9c9;
    font-size: 35px;
}

  /* Navbar links */
.navbar-css a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

  /* Page content */
.content {
    padding: 0px;
}

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

/**.navbar-css{
    height: 38px;
    background-color: var(--color-principal);
}

.imagen-nav{
    height: 30px;
} **/

/** Side bar Menu desplegable **/

.boton-menu-barras{
    color: white;
    font-size: 35px;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 5px 7px;
}

.boton-menu-barras:hover{
    border: 2px solid white;
    border-radius: 10px;
    background-color: var(--color-principal-oscuro);
    transition: all 0.5s;
}

.despliegue-menu{
    background-color: var(--color-principal);
    height: 100vh;
}

.despliegue-menu button{
    margin-top: 60px;
    margin-left: 60px;
}

.despliegue-menu ul{
    height: 100%;
    margin-top: 25px;
    margin-bottom: 70px;
}
.despliegue-menu li{
    font-size: 37px;
    list-style-type: none;
    color: var(--color-letras-menu);
    border-radius: 20px;
}

.despliegue-menu a{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 0;
}

.despliegue-menu a:hover{
    background-color: var(--color-principal-oscuro);
    transition: all 0.5s;
}

.boton-cerrar-menu{
    margin: 39px 0 0 43px ;
    font-size: 40px;
    padding: 0px 10px;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    max-width: 13.2%;
}

.boton-cerrar-menu:hover{
    background-color: var(--color-principal-oscuro);
    border: 2px solid white;
    transition: all 0.5s;
    cursor: pointer;
}

/** Side bar inicio de sesion **/

.despliegue-usuario{
    background-color: #4D5F3E;
}

.boton-inicio-sesion{
    color: white;
    font-size: 35px;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 5px 7px;
}

.boton-inicio-sesion:hover{
    border: 2px solid white;
    border-radius: 10px;
    background-color: var(--color-principal-oscuro);
    transition: all 0.5s;
}

.contenedor-login{
    display: flex;
    justify-content: end;
}

.boton-cerrar-login{
    font-size: 40px;
    margin: 44px 44px 0 0;
    padding: 0px 10px;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    max-width: 13.2%;
}

.boton-cerrar-login:hover{
    background-color: var(--color-principal-oscuro);
    border: 2px solid white;
    transition: all 0.5s;
    cursor: pointer;
}

.imagen-nav-login{
    height: 80px;
}
.contenedor-inputs{
    font-size: 25px;
}

.contenedor-inputs input{
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 6px;
}

.input1::after {
    content: ''; /* Pseudo-elemento para crear la línea */
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff; /* Color de la línea */
    margin-top: 3px; /* Desplazar la línea hacia abajo */
}

.input2::after {
    content: ''; /* Pseudo-elemento para crear la línea */
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff; /* Color de la línea */
    margin-top: 3px; /* Desplazar la línea hacia abajo */
}


.contenedor-inputs input::placeholder{
    color: #FFF;
    border: none;
}

.contenedor-inputs input:focus{
    outline: none;
    background-color: var(--color-principal-oscuro);
    transition: all 0.5s;
}

.div-check{
    color: #fff;

}

.div-checkbox{
    margin-bottom: 4.5px;
}

.div-checkbox label{
    font-size: 19px;
}

.check{
    transform: scale(1.3) translateX(2px);

}

.div-olvidaste-clave a{
    text-decoration: none;
    color: #FFF;
    border-bottom: solid 1px transparent;

}

.div-olvidaste-clave a:hover{
    border-bottom: solid 1px #f2f2f2;
    transition: all 0.5s;

}

.boton-login{
    background-color: var(--color-principal);
    width: 80.5%;
    border: solid 1px #fff;
    height: 60px;
    border-radius: 10px;
}

.boton-login:hover{
    border: 1px solid #FFF;
    background-color: var(--color-principal-oscuro);
    transition: all 0.5s;
}

.boton-registro{
    color: var(--color-principal);
    background-color: #fff;
    width: 80.5%;
    border: solid 1px #fff;
    height: 50px;
    border-radius: 10px;
    text-align: center
}

.boton-registro:hover{
    border: 1px solid #FFF;
    color: #FFF;
    background-color: var(--color-principal-oscuro);
    transition: all 0.5s;
}

/** Carrusel **/

.container{
    border: none;
    width: 100% !important;
}

