:root{
    --color-principal: #516343;
    --color-letras-menu: #FFF;
    --color-principal-oscuro: #35412c
}

body{
    background-color: #AAC0A5;
}

b{
    background-color: var(--color-principal);
}

*{
    margin: 0
}

/** Navbar Sticky **/

/* Style the navbar */
.navbar-css{
    overflow: hidden;
    background-color: #4D5F3E;
    opacity: 75%;
}

.imagen-nav{
    height: 100px;
}

.navbar-css i{
    display: block;
    color:  #c9c9c9;
    font-size: 35px;
    opacity: 100% important!;
}

  /* Navbar links */
.navbar-css a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

  /* Page content */
.content {
    padding: 0px;
}

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

.navbar-css i{
padding-left: 5px;
padding-right: 5px;
padding-top: 40px;
padding-bottom: 40px;


}

/**.navbar-css{
    height: 38px;
    background-color: var(--color-principal);
}

.imagen-nav{
    height: 30px;
} **/

/** Menu desplegable **/

.despliegue-menu{
    background-color: var(--color-principal);
    height: 100vh;
}

.despliegue-menu button{
    margin-top: 60px;
    margin-left: 60px;
}

.despliegue-menu ul{
    height: 100%;
    margin-top: 25px;
    margin-bottom: 70px;
}
.despliegue-menu li{
    font-size: 40px;
    list-style-type: none;
    color: var(--color-letras-menu);
    border-radius: 20px;
}

.despliegue-menu a{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 0;
}

.despliegue-menu a:hover{
    background-color: #35412c;
    transition: all 0.5s;
}

.boton-cerrar-menu{
    margin: 39px 0 0 43px ;
    font-size: 40px;
    padding: 0px 10px;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    max-width: 13.2%;
}

.boton-cerrar-menu:hover{
    background-color: #35412c;
    border: 2px solid white;
    transition: all 0.5s;
    cursor: pointer;
}

/** Inicio de Sesion **/

.despliegue-usuario{
    color: #4D5F3E;
}

.offcanvas-header, .offcanvas-body{
    background-color: #516343;
    color: #f7f7f7;
}