:root{
    --color-principal: #516343 
}

body{
    background-color: #AAC0A5;
}

b{
    background-color: #516343;
}

*{
    margin: 0
}

/** Navbar Sticky **/

/* Style the navbar */
.navbar-css{
    overflow: hidden;
    background-color: #4D5F3E;
}

.imagen-nav{
    height: 100px;
}

.navbar-css i{
    display: block;
    color:  #c9c9c9;
    font-size: 35px;
}

  /* Navbar links */
.navbar-css a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

  /* Page content */
.content {
    padding: 0px;
}

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

.navbar-css i{
padding-left: 20px;
padding-right: 5px;
padding-top: 40px;
padding-bottom: 40px;


}

/**.navbar-css{
    height: 38px;
    background-color: var(--color-principal);
}

.imagen-nav{
    height: 30px;
} **/